{% extends "layout/basic.html" %} {% block body %}

<main>
  <h2>Hello, I'm Arthur !</h2>
  <p>
    I'm a web developper. I realised I kinda sucked at it recently. I couldn't
    bear with this no more. So, I decided it was time for a change, I needed to
    go on a quest to improve my web dev skills, to be better at my job and
    fields related to it. <br />
    I'll probably try to improve my overall life while I'm at it so I can become
    the sexiest version of myself.
  </p>
</main>
{% endblock %}
