<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Path to glory</title>
  </head>
  <body>
    <header>
      <h1>Path to Glory.quest</h1>
      <p>Served from a Deno server.</p>
      <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a>
        <a href="/feed" type="application/xml" download>RSS feed</a>
      </nav>
    </header>
    <hr />
    { content }
    <hr />
    <footer>Pathtoglory.quest No copyright. Copy and paste me.</footer>
  </body>
</html>
